<div class="col-md-10 col-md-offset-1 text-center">
			<h1>About Pinapp</h1>
	<br/>

	<div id="h1w">
	<p>Pinapp a web application developed by Carlos Ortega Morales, using Ruby on Rails, during the online course One Month Rails. It has been a personal achieved milestone of coding learning.</p>

	<p>Please feel free to use this app and have fun!</p>
	</div>

<hr/>

	<p><%= link_to "Open source code in Github", "https://github.com/cortega8612/pinteresting", target: "blank", class: "btn btn-default active" %></p>

	<p>
		<%= link_to "Copyright | CarlosOMX", "http://carlosomx.com", target: "blank", class: "btn btn-default active" %>
	</p>
</div>

<br/>