<div class="col-md-10 col-md-offset-1">
			<h1>About Pinapp</h1>
	<br/>

	<div id="h1w">
	<p>Pinapp a web application developed by Carlos Ortega Morales, using Ruby on Rails, during the online course One Month Rails. It has been a personal achieved milestone of coding learning.</p>

	<p>Please feel free to use this app and have fun!</p>
	</div>

<hr />

	<div class="pull-right">
		<%= link_to "Copyright | CarlosOMX", "http://carlosomx.com", target: "blank", class: "glyphicon glyphicon-user btn btn-default active" %>
	</div>
</div>