<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<h1 class="h1w">About Pinapp</h1>
	</div>
</div>
<br/>

<p class="col-md-10 col-md-offset-2 h1w">Pinapp a web application developed by Carlos Ortega Morales, using Ruby on Rails, during the online course One Month Rails. It has been a personal achieved milestone of coding learning.</p>

<p class="col-md-10 col-md-offset-2 h1w">Please feel free to use this app and have fun!</p>