<div class="well">
  
	<h1 class="textcenter">Welcome to my app!</h1>

	<p class="textcenter">
	<%= link_to "Log in!" , "http://google.com", class: "btn btn-default" %>
	<%= link_to "Sign up!" , "http://google.com", class: "btn btn-primary" %>
	</p>

</div>