@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


$body-bg: #ecf0f1;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-inverse-bg: #34495e;
$navbar-inverse-link-color: #FFF;
$well-bg: #FFF;
$jumbotron-bg: #FFF;
@import 'bootstrap';

.textcenter {
	text-align: center;
}

.navbar-brand {
     font-weight: bold;
}