@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


$body-bg: #ECECEC;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-inverse-bg: #6C7A89;
$navbar-inverse-link-color: #FFF;
$navbar-inverse-link-hover-color: #E4F1FE;
$navbar-inverse-brand-hover-color: #E4F1FE;
$well: #FFF;
$jumbotron-bg: #FFF;


@import 'bootstrap';

.h1w {
	color: #FFF;
}


.body1w {
	color: #34495e;
}

.textcenter {
	text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

.vcenter {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}